@CHARSET "UTF-8";
BODY {
	background-color: #F5F6CE;
	margin: 3% 15% 10% 15%;
}

FONT {
	color: #FF8000;
}

a:link {
	color: #CC6600;
	text-decoration:none;
}

a:visited {
	color: #CC6600;
	text-decoration:none;
}

a:active {
	background-color: yellow;
	font-weight: bold;
	text-decoration:none;
}

a:hover {
	color: #FF8000;
	font-weight: bold;
	text-decoration:none;
}

TABLE {
	table-layout : fixed;
	border-collapse : collapse;
	border-spacing : 1px;
	empty-cells : hide;
}

TH {
	background-color: #F5D0A9;
	font-weight: bold;
	font-size: 11pt;
}

TD {
	font-size: 11pt;
}