<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>lmadb</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserimentoPersonale</display-name>
    <servlet-name>InserimentoPersonale</servlet-name>
    <servlet-class>servlet.InserimentoPersonale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserimentoPersonale</servlet-name>
    <url-pattern>/InserimentoPersonale</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckPassword</display-name>
    <servlet-name>CheckPassword</servlet-name>
    <servlet-class>servlet.CheckPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckPassword</servlet-name>
    <url-pattern>/CheckPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionManager</display-name>
    <servlet-name>ConnectionManager</servlet-name>
    <servlet-class>util.ConnectionManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionManager</servlet-name>
    <url-pattern>/ConnectionManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Elimina</display-name>
    <servlet-name>Elimina</servlet-name>
    <servlet-class>servlet.EliminaPersonale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Elimina</servlet-name>
    <url-pattern>/Elimina</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaDipendente</display-name>
    <servlet-name>ModificaDipendente</servlet-name>
    <servlet-class>servlet.ModificaDipendente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaDipendente</servlet-name>
    <url-pattern>/ModificaDipendente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaAccount</display-name>
    <servlet-name>ModificaAccount</servlet-name>
    <servlet-class>servlet.ModificaAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaAccount</servlet-name>
    <url-pattern>/ModificaAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserimentoStanza</display-name>
    <servlet-name>InserimentoStanza</servlet-name>
    <servlet-class>servlet.InserimentoStanza</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserimentoStanza</servlet-name>
    <url-pattern>/InserimentoStanza</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaStanza</display-name>
    <servlet-name>ModificaStanza</servlet-name>
    <servlet-class>servlet.ModificaStanza</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaStanza</servlet-name>
    <url-pattern>/ModificaStanza</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserimentoGruppo</display-name>
    <servlet-name>InserimentoGruppo</servlet-name>
    <servlet-class>servlet.InserimentoGruppo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserimentoGruppo</servlet-name>
    <url-pattern>/InserimentoGruppo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RichiesteBeni</display-name>
    <servlet-name>RichiesteBeni</servlet-name>
    <servlet-class>servlet.RichiesteBeni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RichiesteBeni</servlet-name>
    <url-pattern>/RichiesteBeni</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>m</display-name>
    <servlet-name>m</servlet-name>
    <servlet-class>servlet.m</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>m</servlet-name>
    <url-pattern>/m</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modificaBene</display-name>
    <servlet-name>modificaBene</servlet-name>
    <servlet-class>servlet.modificaBene</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modificaBene</servlet-name>
    <url-pattern>/modificaBene</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaSottocategoria</display-name>
    <servlet-name>ModificaSottocategoria</servlet-name>
    <servlet-class>servlet.ModificaSottocategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaSottocategoria</servlet-name>
    <url-pattern>/ModificaSottocategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaSottoCategoria</display-name>
    <servlet-name>EliminaSottoCategoria</servlet-name>
    <servlet-class>servlet.EliminaSottoCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaSottoCategoria</servlet-name>
    <url-pattern>/EliminaSottoCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserimentoSottoCategoria</display-name>
    <servlet-name>InserimentoSottoCategoria</servlet-name>
    <servlet-class>servlet.InserimentoSottoCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserimentoSottoCategoria</servlet-name>
    <url-pattern>/InserimentoSottoCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserimentoCategoria</display-name>
    <servlet-name>InserimentoCategoria</servlet-name>
    <servlet-class>servlet.InserimentoCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserimentoCategoria</servlet-name>
    <url-pattern>/InserimentoCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaCategoria</display-name>
    <servlet-name>ModificaCategoria</servlet-name>
    <servlet-class>servlet.ModificaCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaCategoria</servlet-name>
    <url-pattern>/ModificaCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaCategoria</display-name>
    <servlet-name>EliminaCategoria</servlet-name>
    <servlet-class>servlet.EliminaCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaCategoria</servlet-name>
    <url-pattern>/EliminaCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserimentoFornitore</display-name>
    <servlet-name>InserimentoFornitore</servlet-name>
    <servlet-class>servlet.InserimentoFornitore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserimentoFornitore</servlet-name>
    <url-pattern>/InserimentoFornitore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaFornitore</display-name>
    <servlet-name>EliminaFornitore</servlet-name>
    <servlet-class>servlet.EliminaFornitore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaFornitore</servlet-name>
    <url-pattern>/EliminaFornitore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaFornitore</display-name>
    <servlet-name>ModificaFornitore</servlet-name>
    <servlet-class>servlet.ModificaFornitore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaFornitore</servlet-name>
    <url-pattern>/ModificaFornitore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssegnaBene</display-name>
    <servlet-name>AssegnaBene</servlet-name>
    <servlet-class>servlet.AssegnaBene</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssegnaBene</servlet-name>
    <url-pattern>/AssegnaBene</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaAssegnazione</display-name>
    <servlet-name>EliminaAssegnazione</servlet-name>
    <servlet-class>servlet.EliminaAssegnazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaAssegnazione</servlet-name>
    <url-pattern>/EliminaAssegnazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserimentoBando</display-name>
    <servlet-name>InserimentoBando</servlet-name>
    <servlet-class>servlet.InserimentoBando</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserimentoBando</servlet-name>
    <url-pattern>/InserimentoBando</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaBando</display-name>
    <servlet-name>EliminaBando</servlet-name>
    <servlet-class>servlet.EliminaBando</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaBando</servlet-name>
    <url-pattern>/EliminaBando</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaBando</display-name>
    <servlet-name>ModificaBando</servlet-name>
    <servlet-class>servlet.ModificaBando</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaBando</servlet-name>
    <url-pattern>/ModificaBando</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaAllGdl</display-name>
    <servlet-name>RicercaAllGdl</servlet-name>
    <servlet-class>servlet.RicercaAllGdl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaAllGdl</servlet-name>
    <url-pattern>/RicercaAllGdl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaPostazioneStanza</display-name>
    <servlet-name>RicercaPostazioneStanza</servlet-name>
    <servlet-class>servlet.RicercaPostazioneStanza</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaPostazioneStanza</servlet-name>
    <url-pattern>/RicercaPostazioneStanza</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaStanzaPost</display-name>
    <servlet-name>RicercaStanzaPost</servlet-name>
    <servlet-class>servlet.RicercaStanzaPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaStanzaPost</servlet-name>
    <url-pattern>/RicercaStanzaPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaBeneInDotazione</display-name>
    <servlet-name>RicercaBeneInDotazione</servlet-name>
    <servlet-class>servlet.RicercaBeneInDotazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaBeneInDotazione</servlet-name>
    <url-pattern>/RicercaBeneInDotazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserimentoBene</display-name>
    <servlet-name>InserimentoBene</servlet-name>
    <servlet-class>servlet.InserimentoBene</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserimentoBene</servlet-name>
    <url-pattern>/InserimentoBene</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserisciUbicazione</display-name>
    <servlet-name>InserisciUbicazione</servlet-name>
    <servlet-class>servlet.InserisciUbicazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserisciUbicazione</servlet-name>
    <url-pattern>/InserisciUbicazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserimentoUbicazione</display-name>
    <servlet-name>InserimentoUbicazione</servlet-name>
    <servlet-class>servlet.InserimentoUbicazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserimentoUbicazione</servlet-name>
    <url-pattern>/InserimentoUbicazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaUbicazione</display-name>
    <servlet-name>EliminaUbicazione</servlet-name>
    <servlet-class>servlet.EliminaUbicazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaUbicazione</servlet-name>
    <url-pattern>/EliminaUbicazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaUbicazione</display-name>
    <servlet-name>ModificaUbicazione</servlet-name>
    <servlet-class>servlet.ModificaUbicazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaUbicazione</servlet-name>
    <url-pattern>/ModificaUbicazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestioneBeni</display-name>
    <servlet-name>GestioneBeni</servlet-name>
    <servlet-class>servlet.GestioneBeni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestioneBeni</servlet-name>
    <url-pattern>/GestioneBeni</url-pattern>
  </servlet-mapping>
</web-app>