<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>lmadb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserimentoPersonale</display-name>
    <servlet-name>InserimentoPersonale</servlet-name>
    <servlet-class>InserimentoPersonale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserimentoPersonale</servlet-name>
    <url-pattern>/InserimentoPersonale</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Umberto</description>
    <display-name>InvertiUmb</display-name>
    <servlet-name>InvertiUmb</servlet-name>
    <servlet-class>InvertiUmb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvertiUmb</servlet-name>
    <url-pattern>/InvertiUmb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StringReverse</display-name>
    <servlet-name>StringReverse</servlet-name>
    <servlet-class>StringReverse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StringReverse</servlet-name>
    <url-pattern>/StringReverse</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>Calcolatrice</display-name>
    <servlet-name>Calcolatrice</servlet-name>
    <servlet-class>Calcolatrice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calcolatrice</servlet-name>
    <url-pattern>/Calcolatrice</url-pattern>
  </servlet-mapping>
</web-app>